<?php
$config['blog_name'] = 'My Blog';

// blog_platform: Rosetta, Drupal5, Drupal6
$config['blog_platform'] = 'Drupal5';

// url_style: Rosetta, Drupal
$config['url_style'] = 'Drupal';
$config['pretty_urls'] = true;

// theme_platform: Rosetta, Drupal5, Drupal6, Drupal7
$config['theme_platform'] = 'Rosetta';
$config['theme'] = 'garland';

return $config;
