body { 
	background-color: #909871;
	background-image: url(".././images/backgroundGraphic.png");
	background-attachment: fixed;
	background-position: 53% 20%;
	background-repeat: no-repeat;
	font-family: "Tahoma";
	}
	
/* teaser box */
.article_box {
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	width: 40em;
	background-color: #fff;
	border: none;
	corner-radius: 10px;
	-moz-border-radius: 10px;
	font-family: "Tahoma";
	font-size: 14px;
	line-height: 20px;
	color: #000;
	}

